# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./ServerAuth/.idea/
/Client/CMakeFiles
/Client/Debug
/Client/CMakeCache.txt
/Client/Win32
/Client/ALL_BUILD.vcxproj
/Client/ALL_BUILD.vcxproj.filters
/Client/ClientGame.sln
/Client/ClientGame.vcxproj
/Client/ClientGame.vcxproj.filters
/Client/cmake_install.cmake
/Client/ZERO_CHECK.vcxproj
/Client/ZERO_CHECK.vcxproj.filters
/Client/.vs
/Client/ClientGame.dir
/ServerAuth/.vs
/ServerAuth/ZERO_CHECK.vcxproj.filters
/ServerAuth/CMakeFiles
/ServerAuth/Debug
/ServerAuth/ServerAuth.dir
/ServerAuth/Win32
/ServerAuth/ALL_BUILD.vcxproj
/ServerAuth/ALL_BUILD.vcxproj.filters
/ServerAuth/cmake_install.cmake
/ServerAuth/CMakeCache.txt
/ServerAuth/ServerAuth.sln
/ServerAuth/ServerAuth.vcxproj
/ServerAuth/ServerAuth.vcxproj.filters
/ServerAuth/ZERO_CHECK.vcxproj
