# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./ServerAuth/.idea/
/Client/CMakeFiles
/Client/Debug
/Client/CMakeCache.txt
/Client/Win32
/Client/ALL_BUILD.vcxproj
/Client/ALL_BUILD.vcxproj.filters
/Client/ClientGame.sln
/Client/ClientGame.vcxproj
/Client/ClientGame.vcxproj.filters
/Client/cmake_install.cmake
/Client/ZERO_CHECK.vcxproj
/Client/ZERO_CHECK.vcxproj.filters
/Client/.vs
/Client/ClientGame.dir
/ServerAuth/.vs
/ServerAuth/ZERO_CHECK.vcxproj.filters
/ServerAuth/CMakeFiles
/ServerAuth/Debug
/ServerAuth/ServerAuth.dir
/ServerAuth/Win32
/ServerAuth/ALL_BUILD.vcxproj
/ServerAuth/ALL_BUILD.vcxproj.filters
/ServerAuth/cmake_install.cmake
/ServerAuth/CMakeCache.txt
/ServerAuth/ServerAuth.sln
/ServerAuth/ServerAuth.vcxproj
/ServerAuth/ServerAuth.vcxproj.filters
/ServerAuth/ZERO_CHECK.vcxproj
/ServerGame/ALL_BUILD.vcxproj
/ServerGame/ALL_BUILD.vcxproj.filters
/ServerGame/ZERO_CHECK.vcxproj.filters
/ServerGame/ServerGame.sln
/ServerGame/ServerGame.vcxproj
/ServerGame/ServerGame.vcxproj.filters
/ServerGame/ZERO_CHECK.vcxproj
/ServerGame/.vs
/ServerGame/Debug
/ServerGame/ServerGame.dir
/ServerGame/ArgumentLoader
/ServerGame/Exceptions
/ServerGame/Logger
/ServerGame/NetworkAbstract
/ServerAuth/ArgumentLoader
/ServerAuth/NetworkAbstract
/ServerAuth/Logger
/ServerGame/Win32
/ServerGame/Monster/BossMonster/ZERO_CHECK.vcxproj.filters
/ServerGame/Monster/BossMonster/CMakeFiles
/ServerGame/Monster/BossMonster/Entities
/ServerGame/Monster/BossMonster/ALL_BUILD.vcxproj
/ServerGame/Monster/BossMonster/ALL_BUILD.vcxproj.filters
/ServerGame/Monster/BossMonster/BossMonster.sln
/ServerGame/Monster/BossMonster/BossMonster.vcxproj
/ServerGame/Monster/BossMonster/BossMonster.vcxproj.filters
/ServerGame/Monster/BossMonster/ZERO_CHECK.vcxproj
/ServerGame/Monster/BasicMonster/ALL_BUILD.vcxproj.filters
/ServerGame/Monster/BasicMonster/CMakeFiles
/ServerGame/Monster/BasicMonster/Entities
/ServerGame/Monster/BasicMonster/ALL_BUILD.vcxproj
/ServerGame/Monster/BasicMonster/BasicMonster.sln
/ServerGame/Monster/BasicMonster/BasicMonster.vcxproj
/ServerGame/Monster/BasicMonster/BasicMonster.vcxproj.filters
/ServerGame/Monster/BasicMonster/ZERO_CHECK.vcxproj
/ServerGame/Monster/BasicMonster/ZERO_CHECK.vcxproj.filters
/ServerGame/Monster/BasicMonster/.vs
/ServerGame/Monster/BossMonster/.vs
/ServerGame/Monster/BasicMonster/BasicMonster.dir
/ServerGame/Monster/BasicMonster/Debug
/ServerGame/Monster/BasicMonster/Win32
/ServerGame/Monster/BasicMonster/NetworkAbstract
/ServerGame/Monster/BossMonster/.vs
/ServerGame/Monster/BossMonster/BossMonster.dir
/ServerGame/Monster/BossMonster/NetworkAbstract
/ServerGame/Monster/BossMonster/Win32
/ServerGame/Monster/BossMonster/Debug
/ServerGame/Monster/NetworkAbstract
/Client/ClientNetwork.dir
/Client/ClientNetwork.vcxproj.user
/Client/ClientNetwork.sln
/Client/ClientNetwork.vcxproj
/Client/ClientNetwork.vcxproj.filters
